.HeroBgImage {
    background: url('https://s3-alpha-sig.figma.com/img/a393/de40/1319d2829ef2b6da60e30e6b9c725d97?Expires=1653868800&Signature=c6-565GAVbqHFdfvi2-~pQ6D437dBme3IT~6dyTD5GvWpvTaUGr4BDF7aDuCysNL5oLqHXc6WLY0iYXEStXEMNMLO~nYMR4IdG3PqW8mfpVn3QBabbvONncBJDCg--~C7YtKAv7WexntVT3kO0IKu7El68~QYaLh3jg1AlxJdiMHN~x9rRyYVrVSntuAXySkkOhkyKHXwPMKi2wK98Eo47x4WvGeZtX0pLo4Kp33ELs2FJwOLkiBYzgrwQNUKoMA5Z-HMdnobhV3G4bnKU7PsGWi5gpmBcFhW8NnppEvfBXscdOKepg0cJFk7AM2PA0oSuQHu93xEGy2SCjUITjblA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110% 300%;
    background-position-y: 20%;
}


/* .HeroBgImage::after {
    background: url('https://s3-alpha-sig.figma.com/img/a393/de40/1319d2829ef2b6da60e30e6b9c725d97?Expires=1653868800&Signature=c6-565GAVbqHFdfvi2-~pQ6D437dBme3IT~6dyTD5GvWpvTaUGr4BDF7aDuCysNL5oLqHXc6WLY0iYXEStXEMNMLO~nYMR4IdG3PqW8mfpVn3QBabbvONncBJDCg--~C7YtKAv7WexntVT3kO0IKu7El68~QYaLh3jg1AlxJdiMHN~x9rRyYVrVSntuAXySkkOhkyKHXwPMKi2wK98Eo47x4WvGeZtX0pLo4Kp33ELs2FJwOLkiBYzgrwQNUKoMA5Z-HMdnobhV3G4bnKU7PsGWi5gpmBcFhW8NnppEvfBXscdOKepg0cJFk7AM2PA0oSuQHu93xEGy2SCjUITjblA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110% 300%;
    background-position-y: 20%;
    opacity: 0.4;
} */

.heroBg {
    width: 100%;
    height: 504px;
    left: 144px;
    top: 213px;
    background-color: rgb(255, 242, 217);
    z-index: -1;
    /* opacity: 0.3; */
}

.heroLarge {
    /* position: absolute; */
    /* position: absolute; */
    width: 794px;
    height: 161px;
    left: 265px;
    top: 334px;
    /* NestMart/Display 2 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 78px;
    /* or 108% */
    letter-spacing: -0.0004em;
    /* NestMart-TextHeading */
    color: #253D4E;
}

.heroSmall {
    /* position: absolute; */
    width: 340px;
    height: 26px;
    left: 272px;
    top: 528px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    /* identical to box height, or 87% */
    /* NestMart-TextBody */
    color: #7E7E7E;
}

.heroImage {
    width: 895px;
    height: 120%;
    left: 874px;
}

.round {
    border-radius: 30px;
}